.password-details {
  margin-top: 2rem;
  background-color: rgba(152, 251, 152, 0.556);
  backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 8px;
  min-height: 27vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 150%;
}
.show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.password-detail {
  background-color: rgba(105, 249, 105, 0.556);
  border-radius: 8px;
  color: black;
  font-size: 0.8rem;
  padding: 0.3rem;
}

.password-detail div {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}
.password-detail div p {
  font-size: 1.3rem;
}
.no-data {
  font-size: 1.3rem;
  color: black;
  text-align: center;
  position: relative;
  left: 50%;
}

.Detail-buttons {
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
  margin-right: 1rem;
}
.trash {
  color: red;
  cursor: pointer;
}
.edit {
  color: blue;
  cursor: pointer;
  display: flex;
}

@media screen and (max-width: 600px) {
  .password-details {
    grid-template-columns: repeat(1, 1fr);
    width: 120%;
  }
  .no-data{
    position: static;
    left: 0%;
    font-size: 1rem;
  }
  .password-detail div p,.password-detail div h2 {
    font-size: 1rem;
  }

}
