h1 {
  font-size: 3rem;
  color: palegreen;
  text-align: center;
}

form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border: 1px solid white;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.hide {
  position: relative;
}

.password {
  width: 100%;
  padding-right: 2.5rem;
}

.pass {
  position: absolute;
  right: 0.5rem;
  top: 38%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  width: 30%;
  padding: 0.5rem;
  background-color: white;
  color: black;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 8px;
  -webkit-tap-highlight-color: transparent;
}

.save {
  background-color: rgb(9, 185, 9);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  .pass {
    right: 0.8rem;
    font-size: 1.2rem;
  }
}
